{% extends "base.html" %}
{% block content %}
<style>
.font-head{
    font-family: 'DM Serif Display', serif;
}
.orgclr{
    color: orangered;
}
</style>
<br><br><br><br><br><br>
    <div class="container topgap font-head">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                
                    <div class="alert alert-info">
                        Your password has been set. You may go ahead and <a class="orgclr" href="{% url 'login' %}">Login Here</a>
                    </div>
                
            </div>
        </div>
    </div>
<br><br><br><br><br>
{% endblock content %}