{% load static %}
{% if user.is_authenticated %}
<style>
    .btnstl{
        background-color: transparent;
        border: none;
        outline: none;
    }
</style>
<div id="like-div">
<form action="{% url 'like_post' post.slug %}" method="post">
    {% csrf_token %}
    {% if liked %}
    <button name="post_id" type="submit" value="{{ post.id }}" class="btnstl"
    hx-target="#like-div" hx-post="{% url 'like_post' post.slug %}" hx-trigger="click"
    ><img src="{% static 'img/liked.png' %}" width="24" height="24"></button><br>
    {% else %}
    <button name="post_id" type="submit" value="{{ post.id }}" class="btnstl"
    hx-target="#like-div" hx-post="{% url 'like_post' post.slug %}" hx-trigger="click"
    ><img src="{% static 'img/like.png' %}" width="24" height="24"></button><br>
    {% endif %}
    <small>{{ total_likes }} Likes</small>
</form>
</div>
{% else %}
<div>
    <small><small> Login To Like. </small></small><br>
    <small>{{ total_likes }} Likes</small>
</div>
{% endif %}

