{% extends 'base.html' %}
{% block title %} Popular Posts | Dhi Darpan {% endblock %}
{% load static %}
{% block content %}
<style>
    .form-control{
        border: none;
        border-bottom: 2px gray solid;
        border-radius: 0px;
    }
    .form-control:focus{
        border: none;
        outline: 0;
        border-bottom: 2px orangered solid;
        border-radius: 0px;
        box-shadow: none;
        transition: all 0.2s ease-in-out;
    }
    .cate_img{
        background-repeat: repeat-x;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8.5px;
    }
    .cate_title{
        background: rgba(255,69,0,0.4);
        color: orangered;
        padding: 10px;
        font-family: 'DM Serif Display', serif;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        font-size: xxx-large;
        -webkit-text-stroke-color: black;
    }
    .for_bor{
        border-radius: 10px;
        border: 2px solid black;
    }
    .border-mbl1{
        width: 100%;
        height: 15px;
        background-color: transparent;
        box-shadow: 10px 10px black, -10px 10px black;
        display: none;
        border-radius: 10px;
    }
    .border-mbl2{
        width: 100%;
        height: 10px;
        background-color: black;
        display: none;
    }
    .border-mbl3{
        width: 100%;
        height: 15px;
        background-color: transparent;
        box-shadow: 10px -10px black, -10px -10px black;
        display: none;
        border-radius: 10px;
    }

    @media only screen and (max-width: 600px) {
        .for_bor{
            border-radius: 0;
            border: none;
        }
        .border-mbl1{
            display: block;
        }
        .border-mbl2{
            display: block;
        }
        .border-mbl3{
            display: block;
        }
    }
</style>
<div class="card-cont">
    <div class="cate_img for_bor">
        <h1 class="centr cate_title"><b>Popular Posts</b></h1>
    </div>
    <div class="border-mbl1"></div>
    <div class="border-mbl2"></div>
    <div class="border-mbl3"></div>
    <div class="row">
        {% for post in post_list %}
        <div class="post-card col for_bor">
            <a href={% url 'post_detail' post.slug %}><img class="thumb" src="../media/{{ post.thumbnail }}" alt="{{ post.slug }}"></a>
            <hr/>
            <div class="listinfo">
            <p class="text-muted"><small  style="color: orangered;">{{post.likes.count}} Likes</small></p>
            <h6 style="margin-bottom: 0;"><a class="topost" href={% url 'post_detail' post.slug %}><b>{{ post.title }}</b></a></h6>
            <p class="text-muted"><small><small>{{post.author.first_name}} {{ post.author.last_name }} | {{ post.created_on|date:'d-M-Y' }}</small></small></p>
            </div>
        </div>
        <div class="border-mbl1"></div>
        <div class="border-mbl2"></div>
        <div class="border-mbl3"></div>
        {% endfor %}
    </div>
</div>
{% if post_list.has_other_pages %}
<br><br><br>
<div class="centr">
  <div class="paginations">
    {% if post_list.has_previous %}
    <a href="?page={{ post_list.previous_page_number }}"><b>&laquo;</b> prev</a>
    <a href="?page={{ post_list.previous_page_number }}" >{{ post_list.previous_page_number }}</a>
    {% endif %}
    <a href="#" class="active">{{ post_list.number }}</a>
    {% if post_list.has_next %}
    <a href="?page={{ post_list.next_page_number }}" >{{ post_list.next_page_number }}</a>
    <a >.</a>
    <a >.</a>
    <a >.</a>
    <a href="?page={{ post_list.paginator.num_pages }}" >{{ post_list.paginator.num_pages }}</a>
    <a href="?page={{ post_list.next_page_number }}">next <b>&raquo;</b></a>
   {% endif %}
  </div>
</div>
{% endif %}
{% endblock content %}